{% extends "base.html" %}

{% block content %}
	{% if madlib %}
		<div class='page-header'>
			<h1>Feeling a little confused?</h1>
		</div>

		<p>
			Fill out the following to determine your motivation.
		</p>
		<form action='/' method='POST' role='form'>
			<input type='hidden' name='madlib_id' value='{{ madlib.id }}' />
			{% for blank in madlib.blanks %}
				<div class='form-group'>
					<label for='madlib_blank-{{ blank.word_type.id }}'>{{ blank.word_type.description }}</label>
					<input type='text' id='madlib_blank-{{ blank.word_type.id }}' name='madlib-blank-{{ blank.word_type.id }}' class='form-control' />
				</div>
			{% endfor %}
			<input type='submit' class='btn btn-default' value='Motivate Me!' />
		</form>
	{% else %}
	  <h1>You have no motivation :[</h1>
	{% endif %}

{% endblock %}